<div class="col-sm-4 mt-2">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                <%= repository.full_name %>
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">
                <%= repository.stargazers_count %> Star
            </h6>
            <p class="card-text minimize-text">
            <%= repository.description %> 
            </p>
            <a href="<%= repository.html_url %>" target="_blank" class="btn btn-primary">View On Github</a>
        </div>
    </div>
</div>
